<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAPLA 커뮤니티</title>
    <link href="/css/reviewMain.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="~{common/header.html :: topbar}"></div>
<main class="content">
    <div class="overlay">
        <h1>리뷰를 작성하고<br>다른 여행자에게 도움을 주세요</h1>
        <div class="buttons">
            <button class="btn btn-light" type="button" onclick="location.href='/review/list'">리뷰 목록보기</button>
            <button class="btn btn-primary" type="button" onclick="location.href='/review/write'">리뷰 작성하기</button>
        </div>
    </div>
    <img src="/img/review.jpg" alt="리뷰 이미지" style="width: 100%; height: auto;">
</main>   
<div th:replace="~{common/footer.html :: foot}"></div>
</body>
</html>