<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAPLA - 나를 아는 여행 앱</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body style="cursor: pointer" onclick="location.href='/main'">
<header>
    <nav class="navbar">
        <div class="logo">HAPLA</div>
    </nav>
</header>

<main class="main-content">
    <div class="text-content">
        <p class="subtitle">계획부터 예약까지, 여행이 쉬워지는</p>
        <h1 class="title">
            나를 아는 여행 앱<br>
            <label><u>HAPLA와 떠나기</u></label>
        </h1>
    </div>
</main>
</body>
</html>